/**
 * @file
 */

/* With thumbnail navigation. */
.splidebox.is-sbox-thumbed .splidebox__caption.is-caption {
  background: none;
}

.splidebox.is-sbox-thumbed .splidebox__caption::before {
  color: #20b2aa;
}

.splidebox.is-sbox-thumbed .splidebox__caption:hover::before {
  color: #57e1d9;
}

.splidebox.is-sbox-thumbed .splidebox__caption.is-sbox-visible {
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
}

.splidebox.is-sbox-thumbed .splide--nav {
  background-color: rgba(0,0,0,.8);
}

.splidebox--navskin--sbox-nav .splide__track--nav > .splide__list > .splide__slide {
  border: 1px solid transparent;
}

.splidebox--navskin--sbox-nav .splide__track--nav > .splide__list > .splide__slide.is-active:not(.splide__slide--clone) {
  border: 3px solid #57e1d9;
}
