/**
 * @file
 * Provides zoom-related styles.
 */

.is-sbox-zoomed .splidebox__item {
  width: auto;
  height: auto;
}

.is-sbox-unsplide .is-zoomable {
  cursor: default;
}

.splidebox .is-zoomable,
.splidebox .splide .slide .is-zoomable {
  cursor: zoom-in;
  pointer-events: auto;
}

.is-sbox-zoomed .is-zoomable,
.is-sbox-zoomed .splide .slide .is-zoomable {
  cursor: zoom-out;
  pointer-events: auto;
}

.is-slide-fit .is-zoomable,
.splidebox .splide .is-slide-sm .is-zoomable {
  cursor: grab;
}

.splide--draggable .splide__list:active .is-zoomable,
.is-sbox-dragging .splide .slide .is-zoomable {
  cursor: grabbing;
}

.splidebox img.is-zoomable {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100vh;
  max-height: calc((var(--vh) * 100) - var(--sbox-space-without-tn));
  user-select: none;
  /* transform: scale3d(1, 1, 1); */
  object-fit: contain;
  will-change: auto;
}

.is-sbox-thumbed--visible img.is-zoomable {
  max-height: calc((var(--vh) * 100) - var(--sbox-space-with-tn));
}

.is-sbox-zoomed .slide.is-active img.is-zoomable {
  max-width: none;
  max-height: none;
}

.is-sbox-zoomed .slide.is-active img.is-zoomable {
  position: relative;
  user-select: none;
}

.is-sbox-dragging .slide.is-active img.is-zoomable,
.is-sbox-wheeled .slide.is-active img.is-zoomable {
  inset: unset;
}

.is-sbox-zoomed .slide.is-active .is-sbox-moved,
.is-sbox-zoomed .slide.is-active .is-sbox-moved .is-zoomable,
.is-sbox-dragging .slide.is-active .splidebox__item,
.is-sbox-dragging .slide.is-active .splidebox__item img {
  transition: none 0s ease 0s !important;
}

.is-sbox-unsplide.is-sbox-zoomed .slide__content,
.is-sbox-zoomed .slide.is-active .slide__content {
  width: 100vw;
}

/* .is-sbox-zoomed .slide__content, */
.is-sbox-umounting .is-ajax-slide .splidebox__item {
  overflow: hidden;
}

.is-sbox-zoomed .is-zoomable-slide .slide__content {
  position: absolute;
  overflow: hidden;
  height: inherit;
  transform: translate3d(0, 0, 0);
  inset: 0;
}

.is-sbox-zoomed .splide .is-slide-xl .splidebox__item {
  flex-direction: column;
}

.is-sbox-zoomed .splide:first-child,
.is-sbox-zoomed .is-mounted .splide__slider {
  overflow: hidden;
}

.is-sbox-zoomed.is-sbox-wheeled .is-zoomable-slide .slide__content {
  overflow-y: auto;
}

.is-sbox-zoomed .splidebox__caption,
.is-sbox-zoomed .splidebox__nav,
.is-sbox-zoomed .splide__arrows,
.is-sbox-zoomed .splide .splide__pagination {
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
}

/* Mobile. */
.touchevents .is-sbox-zoomed .splidebox__item {
  touch-action: pan-x pan-y pinch-zoom;
}

/* .touchevents .is-sbox-unsplide.is-sbox-zoomed .slide__content, */
.touchevents .is-sbox-zoomed .slide.is-active .slide__content {
  overflow: auto;
}

.touchevents .splidebox:not(.is-sbox-zoomed) img.is-zoomable {
  width: 96vw !important;
  height: 96vh !important;
}

/* Desktop. */
.no-touchevents .is-sbox-zoomed .is-zoomable-slide .slide__content {
  touch-action: none;
}

/*
@media only screen and (max-width: 1270px) and (orientation: portrait) {
  .splidebox .slide img.is-zoomable {
    max-width: 100%;
    height: auto;
  }
}
*/
