/**
 * @file
 * Provides caption-related styles.
 */

.splidebox .splidebox__caption {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 100%;
  transition: width 1s ease;
  transform: translateX(-50%);
}

.splidebox .is-caption {
  text-align: center;
  pointer-events: none;
  font-size: var(--sbox-caption);
}

.splidebox .is-caption a {
  pointer-events: auto;
}

.splidebox .slide__caption,
.splidebox .splidebox__caption.is-captioned {
  padding: 2px 8px;
}

.splidebox .splidebox__caption:not(.is-captioned) {
  display: none;
}

.splidebox.is-sbox-paginated .splidebox__caption {
  bottom: 30px;
}

.splidebox .splide--caption--bottom .slide__caption,
.splidebox .splide--caption--top .slide__caption {
  left: 50%;
  transform: translateX(-50%);
}

/** Hides disturbing captions for [remote]video, audio until being hovered/clicked. */
.is-sbox-mounted.is-sbox-playable .splidebox__caption h2,
.is-sbox-mounted.is-sbox-playable .splidebox__caption p {
  pointer-events: none;
}

.is-sbox-mounted.is-sbox-playable .splidebox__caption {
  pointer-events: auto;
  opacity: 0;
}

.is-sbox-mounted.is-sbox-playable .splidebox__caption:hover,
.is-sbox-mounted.is-sbox-playable .is-caption.is-sbox-visible {
  opacity: 1;
}
