/**
 * @file
 * Provides ajax-related styles.
 */

/** AJAX loaded contents. */

.is-sbox-html--ajaxed {
  position: relative;
  overflow: hidden;
}

.splidebox .is-ajax-slide .slide__content {
  width: var(--sbox-ajax-content);
  max-width: var(--sbox-ajax-content);
}

.splidebox__ajax {
  min-height: 210px;
  margin: var(--sbox-space) auto;
  text-align: left;
}

/** AJAX loaded contents. */
.splidebox .is-ajax-slide .slide__content {
  background-color: #fff;
}

.is-sbox-umounting .is-ajax-slide .slide__content {
  background-color: transparent;
}

.splidebox .is-ajax-slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.splidebox .is-ajax-slide .splidebox__item {
  display: block;
  overflow-y: scroll;
  margin: auto;
  padding: var(--sbox-space);
}

/* Desktop. */
.no-touchevents .is-sbox-ajaxed--drag .is-ajax-slide .slide__content {
  /* overflow-y: scroll; */
  touch-action: none;
}

.no-touchevents .is-sbox-ajaxed--drag .is-ajax-slide .splidebox__item {
  height: auto;
  /* overflow: hidden; */
  transform-origin: left top;
}

.no-touchevents .is-sbox-ajaxed--drag.is-sbox-wheeled .is-ajax-slide .slide__content {
  overflow-y: auto;
}

@media only screen and (min-width: 1200px) {
  :root {
    --sbox-ajax-content: 82%;
  }
}
